.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
@keyframes vertical-shaking {
  50% {
    transform: translateY(-0.5px);
  }
  100% {
    transform: translateY(0.5px);
  }
}
.main {
  animation: vertical-shaking 0.1s infinite;
}
